#pocho-main{
	background-color: #fff;
	padding: 20px;
	margin-top: 25px;
}

.map-image{
	border: 3px solid #ccc;
}


#preview-image-wrap{
	padding-top: 20px!important;

}

#preview-image-wrap > img{
	width: 100%;
}
