.wrap{
	width: 100%;

}

.input-field{
	width:100%;
	border-radius: 5px;
	border: 3px solid #ccc!important;
	padding: 7px;
	margin: 3px auto;
}

#pocho-main{
	float: left;
	padding: 0px;
	margin: 15px 0px 20px!important;
	height: 100%;
	background-color: #fff;
	width: 90%!important;
}

#pocho-main > h1 {
	font-weight: 700;
	font-size: 2.3em;
}

.map-image{
	border: 3px solid #aaa;
	box-sizing: border-box;
}


#preview-image-wrap{
	padding-top: 0px!important;
	margin:0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	position: relative;
	top: 25%;
	-moz-transform: translateY(25%);
	-webkit-transform: translateY(25%);
	-o-transform: translateY(25%);
	transform: translateY(25%);
}

.distribution-map{
	/*height: 100%;*/
	min-height: 400px;
}

#preview-image{
	opacity: 0.5;
}

#preview-image-wrap > img{
	width: 100%;
	height: auto;
}

.col-6{
	padding: 0;
	margin: 0;
	width: 50%!important;
	float: left;
	display: inline-block;
	height: 100%;
}

@media all and (max-width: 767px){
	.col-6{
		width: 100%!important;
		display: block;
	}
	#preview-image-wrap{
		top: 0;
		-moz-transform: translateY(0);
		-webkit-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
}
